<% include partials/header %>

<div class= "container" style="padding-top:30px;">
    <div class = "row">
        <div class="col-md-3">
            <p>Yelp Camp</p>
            <ul class="list-group">
                  <li class="list-group-item active">item1</li>
                  <li class="list-group-item">item2</li>
                  <li class="list-group-item">item 3</li>
                 
            </ul>
            
        </div>
         <div class="col-md-9">
            <h2> <%= found.site%></h2>

           <div class="card">
               <img src="<%= found.image %>"  alt="Responsive image">
               <div class=card-body>
                   <div class="card-title">
                       <a  class="btn btn-primary btn-lg"href="/campsite/<%=found._id%>/comments/new">Add Comment</a>
                          <h5 class="text-right"><%= found.price %>$</h5>
                          <h5 class="text-left"> <%= found.site%></h5>
                          <h5>Created by:  <%= found.author.username%></h5>
                          
                   </div>
                   <p class="card-text"><%=found.discription%></p>
                 <%  if(currentUser && found.author.id.equals(currentUser._id)){ %>
                   <a class="btn btn-warning" href="/campsite/<%=found._id%>/edit">Update</a>
                   <form style="display:inline" action="/campsite/<%=found._id%>?_method=delete" method="post">
                       <button class="btn btn-danger">Delete</button>
                   </form>
                   <% } %>
                   
                   <h5 class="card-title">Comments:</h5>
                   <% found.comments.forEach(function(dat){ %>
                   <ul class="list-group list-group-flush" style="list-style-type:none;">
                       <li class"list-group-item"><strong><%=dat.author.username%>:</strong></li>
                       <li class="list-group-item"><%= dat.text%></li>
                   <%  if(currentUser &&  dat.author.id.equals(currentUser._id)){ %>
                       <a href="/campsite/<%=found._id%>/comments/<%=dat._id%>/edit">Edit</a>
                       <form action="/campsite/<%=found._id%>/comments/<%=dat._id%>?_method=delete" method="post">
                           <button>Delete</button>
                       </form>
                      <% } %>
                   </ul>
                   <% }) %>
                   
                   
               </div>
           </div>
            
         </div>
    </div>
   
</div>
 



<% include partials/footer %>